[user]
	name = Mareq
	email = mareq@balint.eu
[core]
	editor = vim
	autocrlf = false
[diff]
  tool = vimdiff
[pager]
	diff =
[merge]
	tool = vimdiff
[interactive]
	singlekey = true
[push]
	default = simple
[alias]
	unstage = reset --
	dt = difftool
	l = log --oneline
