export NVM_DIR="${HOME}/.local/share/nvm"
[ -s "${NVM_DIR}/nvm.sh" ] && . "${NVM_DIR}/nvm.sh"
#[ -s "${NVM_DIR}/bash_completion" ] && \. "${NVM_DIR}/bash_completion"

#export NVM_COLORS="GBYRW"


# vim: ts=2 sw=2 et


