# overwrite this one from oh-my-zsh common-aliases plugin
alias l='ls -ClF'

# give me a break about that space
alias cd..='cd ..'

# fast track (eight is already insane, so should be enough)
alias cd...='cd ../..'                          # 2
alias cd....='cd ../../..'                      # 3
alias cd.....='cd ../../../..'                  # 4
alias cd......='cd ../../../../..'              # 5
alias cd.......='cd ../../../../../..'          # 6
alias cd........='cd ../../../../../../..'      # 7
alias cd.........='cd ../../../../../../../..'  # 8

# NERDTree plugin is just great (TBH, even vim's built-in thing is pretty good on itself)
alias dir='vim .'

# lazy-typing
alias d=docker
alias f='find .'
alias fa='find . -name'
alias fd='find . -type d -name'
alias ff='find . -type f -name'
alias g=git
alias gc=gcloud
alias gr='grep -rnHI'
alias gri='grep -rnHIi'
alias h2='head -n2'
alias h4='head -n4'
alias h8='head -n8'
alias h16='head -n16'
alias h32='head -n32'
alias h64='head -n64'
alias h=helm
alias k=kubectl
alias p=pachctl
alias rscp='rsync -avHEXAU'
alias tf=terraform


# vim: ts=2 sw=2 et


